.bold-letter{
    font-weight: bold;
    font-size: 1rem;
}


.principal-sec{
    width: 200px;
    height: 150px;
    background:  var(--card-black-color);
    color: var(--white-color);
    box-shadow: 4px 3px 15px 3px rgba(52, 51, 51, 0.371);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 70% auto;
    transition: all .3s ease-in-out;
    padding: 15px;
    margin: 10px auto;
}

.principal-sec:hover{
    transform: scale(1.1);
}

.infoServ-sec > p{
    margin: 5px;
}

.infoPrice-background > p{
    background-color: rgba(225,225,225, 0.16);
    width: 60px;
    border-radius: 7px 0 0 7px;
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    right: -125px;
}




@media screen and (max-width: 991px) {
    /* start of large tablet styles */   
}
    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */   
}
    
@media screen and (max-width: 479px) {
    /* start of phone styles */
}