
.subtitleStep{
    margin-top: 5px;
    text-align: center;
}

.multiStepCont{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    margin: 5px;
}

.multiStepSec:last-child{
   margin-left: 10px;
} 

.multiStepSec{
    color: grey;
    display: inherit;
    grid-template-columns: 1fr 1fr;
}

.multiStepSec > p{
    grid-row-start: 2;
    grid-row-end: 3;
}

.multiStepSec > div:last-child {
    background-color: rgb(233 233 243);
    position: relative;
    width: 100%;
    height: 2px;
    top: 50%;
}


.barC{
    height: 2px;
    width: 100%;
}

.cN{
    height: 50px;
    width: 50px;
    padding: 15px 0px;
    background-color: rgb(233 233 243);
    color: gray;
    text-align: center;
    border-radius: 100%;
    margin: auto;
}

.activeM{
    color: black;
}

.activeM > .cN{
    background-color: var(--card-black-color);
    color: white;
    transition: ease-in-out 0.5s;
}

.activeM > .barC{
    background-color: var(--card-black-color) !important;
    transition: ease-in-out 0.7s;
}



