
/*.green-color{
    background-color: #28a745;
}*/

.bold-letter{
    font-weight: bold;
    font-size: 1rem;
}


.principal-sec{
    width: 280px;
    box-shadow: 4px 3px 15px 3px rgba(52, 51, 51, 0.371);
    border-radius: 10px;
    margin: 3rem;
    display: grid;
    transition: all .3s ease-in-out;
}

.principal-sec:hover{
    transform: scale(1.1);
}

.image-sec{
    display: grid;
    height: 220px;
    background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
    padding: 1rem 0 1rem 0;
    margin: 5px 8px;
    border-radius: 5% 5% 100% 5% / 5% 5% 50% 5%;
}


.image-sec > p {
    margin: 10px 0 0 0;
}

img{
   width: 40%;
   height: 60%;
   text-align: center;
   border-radius: 50%; 
   margin: auto;  
}

.information-sec{
    text-align: center;
    font-size: 0.8em;
    margin: auto 0 auto 0;
}

.icons-sec{
    display: grid;
    grid-template-columns: 30% auto;
    margin: 10px 5px;
}

.icons-sec > p {
    margin: 0;
    text-align: left;
    color: var(--button-color);
}

.icons-sec > i {
    grid-row: 1/3;
    align-items: center;
    margin: auto;
}

.buttons-sec {
    display: inherit;
    height: 50px;
    grid-template-columns: 1fr 1fr;
    margin: 5px 8px;
    align-items: center;
    justify-items: center;
}

.buttons-sec > button {
    border: solid 2px var(--button-color) ;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    
}

.btn-accept{
    color: var(--white-text-color);
    background-color: var(--button-color);
}

.btn-cancel {
    color: var(--button-color);
}


@media screen and (max-width: 991px) {
    /* start of large tablet styles */   
}
    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */   
}
    
@media screen and (max-width: 479px) {
    /* start of phone styles */
}